# VS Code
*.code-workspace

# Console Cache
libcache.dat

# things I don't want to commit
TestBed/
_Template/
grandMA3/shared/resource/lib_plugins/KineticSet/KineticSet.Lua
grandMA3/shared/resource/lib_plugins/KineticSet/KineticSet.xml
pvt_*